@import url(../../libraries/bootstrap_css/bootstrap.min.css);
@import url(../../libraries/fontawesome/css/all.min.css);
@import url(./input.css);
/* @import url(./dark.css); */

:root {
  --blue: rgb(13, 110, 253);
  --indigo: rgb(102, 16, 242);
  --purple: rgb(111, 66, 193);
  --pink: rgb(214, 51, 132);
  --red: rgb(220, 53, 69);
  --orange: rgb(253, 126, 20);
  --yellow: rgb(255, 193, 7);
  --green: rgb(25, 135, 84);
  --teal: rgb(32, 201, 151);
  --cyan: rgb(13, 202, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.15s;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

#main {
  padding: 15px;
  flex: 1 1 auto;
  overflow: auto;
}

/* sroll */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* responsive */

.responsive-y {
  scrollbar-gutter: stable both-edges;
  overflow-y: auto;
  overflow-x: hidden;
}

.responsive-x {
  scrollbar-gutter: stable both-edges;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/* h */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* hr */

hr {
  margin: 5px;
}

/* a */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

/* table */

table tr:hover > td {
  color: var(--color) !important;
}

/* label */

label {
  width: 100%;
  padding: 5px 0;
}

/* list */

ul {
  margin: 0;
  padding: 0;
  display: grid;
  border: thin solid lightgray;
  border-radius: 10px;
  list-style: none;
}

ul.list {
  gap: 5px;
}

li {
  padding: 5px 10px;
  text-align: left;
  border-bottom: thin solid lightgray;
  transition: all 0.1s;
}

li:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

li:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

li:hover {
  background: whitesmoke;
}

li:active {
  background: lightgray;
}
